body, button, section, h2, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

.toggle {
    float: right;
    color: #49a6e9;
    border: none;
    background-color: transparent;
    font-size: 2em;
    padding: 0.5em;
}

body {
    background-color: #f1f5f8;
}

.side-nav {
    background-color: white;
    width: 45%; /* Temporary; to be moved to show class */
    height: 100vh;
}

.logo {
    font-size: 1.5em;
    color: #222;
    padding: 1em;
    width: auto;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.logo-blue {
    color: #50a8e8;
}
